<div class="container">
  <h1>ノート作成</h1>

  <%= form_with model: @note , url: notes_path , method: :post do |f| %>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "タイトル",class: "text-white" %>
        </div>
        <%= f.text_field :title ,placeholder: "タイトルを記入" ,class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "できること",class: "text-white" %>
        </div>
        <%= f.text_area :can,placeholder: "この記事を見ることで、できるようになることを記入",class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "必要なもの",class: "text-white" %>
        </div>
        <%= f.text_area :necessities , placeholder: "必要なものを記入" , class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="text-right bg-dark p-2">
          <%= link_to_add_association "手順追加",f , :texts ,data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append'}, class: "btn btn-primary rounded-circle" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="texts">
          <%= f.fields_for :texts do |t| %>
            <%= render "text_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point"></div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "まとめ",class: "text-white" %>
        </div>
        <%= f.text_area :conclude , placeholder: "まとめを記入" , class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="text-right bg-dark p-2">
          <%= link_to_add_association "追加",f , :references ,data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append'}, class: "btn btn-primary rounded-circle" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="references">
          <%= f.fields_for :references do |t| %>
            <%= render "reference_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10">
        <div class="text-center">
          <%= f.label "カテゴリー" %><br>
          <%= f.collection_select(:category_id, current_user.categories.all, :id ,:name, prompt: "カテゴリーを選択して下さい", class: "form-control") %>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10">
        <div class="text-center">
          <%= f.label "公開ステータス" %><br>
          <%= f.radio_button :publish_status, :publish, checked: true %>
          <%= f.label :publish_status_publish, Note.publish_statuses_i18n[:publish] %>
          <%= f.radio_button :publish_status, :nonpublic %>
          <%= f.label :publish_status_nonpublic, Note.publish_statuses_i18n[:nonpublic] %>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-10">
        <div class="text-center mt-3">
          <%= f.submit "保存", class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>