<div class="container">
  <h1>ノート作成</h1>

  <%= form_with model: @note , url: notes_path , method: :post do |f| %>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "タイトル",class: "text-white" %>
        </div>
        <%= f.text_field :title ,placeholder: "タイトルを記入" ,class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "できること",class: "text-white" %>
        </div>
        <%= f.text_area :can,placeholder: "この記事を見ることで、できるようになることを記入",class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "必要なもの",class: "text-white" %>
        </div>
        <%= f.text_area :necessities , placeholder: "必要なものを記入" , class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="text-right bg-dark p-2">
          <%= link_to_add_association "手順追加",f , :texts ,data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append'}, class: "btn btn-primary rounded-circle" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="texts">
          <%= f.fields_for :texts do |t| %>
            <%= render "text_fields", f: t %>
          <% end %>
        </div>
        <div id="detail-association-insertion-point"></div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="bg-dark text-center pt-2">
          <%= f.label "まとめ",class: "text-white" %>
        </div>
        <%= f.text_area :conclude , placeholder: "まとめを記入" , class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <div class="text-center mt-3">
          <%= f.submit "保存", class: "btn btn-lg btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>