<div class="container">
  <div class="row mb-5">
    <div class="col-7">
      <h1>検索ワード: <%= @word %></h1>
    </div>

    <div class="col-3">
      <%= render "searchs/search" %>
    </div>
  </div>


  <table class="table">
    <tr>
      <th>作成者</th>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>いいね数</th>
      <th></th>
    </tr>
    <% @notes.each do |note| %>
      <% if note.publish_status == "publish" %>
        <tr>
          <td>
            <%= link_to user_path(note.user) ,class: "text-dark" do %>
              <%= image_tag note.user.get_profile_image(25,25) , class: "rounded-circle" %>
              <%= note.user.name %>
            <% end %>
          </td>
          <td><%= link_to note.title , note_path(note) , class: "text-dark" %></td>
          <td>
            <% if note.category_id != nil %>
              <%= note.category.name %>
            <% end %>
          </td>
          <% if user_signed_in? %>
            <td class="favorite-<%= note.id %>"><%= render "favorites/like", note: note %></td>
          <% else %>
            <td><%= note.favorites.count %></td>
          <% end %>
          <td><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    <% end %>
    
    <% @categories.each do |category| %>
      <% category.notes.each do |note| %>
        <% if note.publish_status == "publish" %>
          <tr>
            <td>
              <%= link_to user_path(note.user) ,class: "text-dark" do %>
                <%= image_tag note.user.get_profile_image(25,25) , class: "rounded-circle" %>
                <%= note.user.name %>
              <% end %>
            </td>
            <td><%= link_to note.title , note_path(note) , class: "text-dark" %></td>
            <td>
              <% if note.category_id != nil %>
                <%= note.category.name %>
              <% end %>
            </td>
            <% if user_signed_in? %>
              <td class="favorite-<%= note.id %>"><%= render "favorites/like", note: note %></td>
            <% else %>
              <td><%= note.favorites.count %></td>
            <% end %>
            <td><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>